body.local-experience-level-0 form#add_block option[value="blog_recent"],
body.local-experience-level-0 form#add_block option[value="analytics_graphs"],
body.local-experience-level-0 form#add_block option[value="blog_menu"],
body.local-experience-level-0 form#add_block option[value="blog_tags"],
body.local-experience-level-0 form#add_block option[value="catalogue"] {
  display: none;
}
body.local-experience-level-0 form#chooserform label[for="item_adaptivequiz"],
body.local-experience-level-0 form#chooserform label[for="item_bigbluebutton"],
body.local-experience-level-0 form#chooserform label[for="item_chat"],
body.local-experience-level-0 form#chooserform label[for="item_confman"],
body.local-experience-level-0 form#chooserform label[for="item_data"],
body.local-experience-level-0 form#chooserform label[for="item_dialogue"],
body.local-experience-level-0 form#chooserform label[for="item_lti"],
body.local-experience-level-0 form#chooserform label[for="item_groupselect"],
body.local-experience-level-0 form#chooserform label[for="item_workshop"],
body.local-experience-level-0 form#chooserform label[for="item_geogebra"],
body.local-experience-level-0 form#chooserform label[for="item_choicegroup"],
body.local-experience-level-0 form#chooserform label[for="item_hotpot"],
body.local-experience-level-0 form#chooserform label[for="item_jazzquiz"],
body.local-experience-level-0 form#chooserform label[for="item_mediagallery"],
body.local-experience-level-0 form#chooserform label[for="item_lesson"],
body.local-experience-level-0 form#chooserform label[for="item_scorm"],
body.local-experience-level-0 form#chooserform label[for="item_activequiz"],
body.local-experience-level-0 form#chooserform label[for="item_mootyper"],
body.local-experience-level-0 form#chooserform label[for="item_scheduler"],
body.local-experience-level-0 form#chooserform label[for="item_quizgame"],
body.local-experience-level-0 form#chooserform label[for="item_treasurehunt"],
body.local-experience-level-0 form#chooserform label[for*="type=bookquiz"],
body.local-experience-level-0 form#chooserform label[for*="type=hangman"],
body.local-experience-level-0 form#chooserform label[for*="type=cross"],
body.local-experience-level-0 form#chooserform label[for*="type=snakes"],
body.local-experience-level-0 form#chooserform label[for*="type=cryptex"],
body.local-experience-level-0 form#chooserform label[for*="type=sudoku"],
body.local-experience-level-0 form#chooserform label[for*="type=hiddenpicture"],
body.local-experience-level-0 form#chooserform label[for*="type=millionaire"],
body.local-experience-level-0 form#chooserform label[for="item_studentquiz"],
body.local-experience-level-0 form#chooserform label[for="item_publication"],
body.local-experience-level-0 form#chooserform label[for="item_techproject"],
body.local-experience-level-0 form#chooserform label[for="item_organizer"],
body.local-experience-level-0 form#chooserform label[for="item_tincanlaunch"],
body.local-experience-level-0 form#chooserform label[for="item_survey"],
body.local-experience-level-0 form#chooserform label[for="item_vpl"],
body.local-experience-level-0 form#chooserform label[for="item_wiki"],
body.local-experience-level-0 form#chooserform label[for="item_customcert"],
body.local-experience-level-0 form#chooserform label[for="item_imscp"],
body.local-experience-level-0 form#chooserform label[for="item_lightboxgallery"] {
  display: none;
}
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_algebra"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_calculatedmulti"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_coderunner"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_ddimageortext"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_ddmarker"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_freehanddrawing"],
body.local-experience-level-0#page-question-edit form#chooserform label[for="item_qtype_multichoiceset"] {
  display: none;
}
body.local-experience-level-0.path-mod-quiz form[action="modedit"] {
  /* General */
}
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_tagshdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #fitem_id_graceperiod,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #fitem_id_overduehandling,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #fitem_id_gradepass,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_layouthdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_interactionhdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_reviewoptionshdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_display,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_security,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_overallfeedbackhdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_tagshdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_subscriptionandtrackinghdr,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_discussionlocking,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_blockafterheader,
body.local-experience-level-0.path-mod-quiz form[action="modedit"] #id_attachmentswordcounthdr {
  display: none;
}
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_generalfeedback,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_single,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_addanswers,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_answernumbering,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #id_combinedfeedbackhdr,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #id_multitriesheader,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #id_tagsheader,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_feedback_0,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_feedback_1,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_feedback_2,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_feedback_3,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_answer_4,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_fraction_4,
body.local-experience-level-0#page-question-type-multichoice form[action="question.php"] #fitem_id_feedback_4 {
  display: none;
}
