{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{> local_experience/controls }}

<h4>{{#str}} conditions, local_experience {{/str}}</h4>

<p>{{#str}} conditions:description, local_experience {{/str}}</p>
<p>{{#str}} conditions:removenotice, local_experience {{/str}}</p>
<form method="POST" action="" enctype="multipart/form-data">

{{#conditions}}
<table width="100%" class="generaltable" style="border-bottom: 2px solid darkgray;">
    <tr>
        <th colspan="2">
            <input type="text" name="name[{{id}}]" value="{{name}}" class="btn-block" placeholder="{{#str}} name {{/str}}" />
        </th>
    </tr>
    <tr>
        <th valign="top" width="50%">
            <input type="text" name="patternscriptnames[{{id}}]" value="{{patternscriptnames}}"
                placeholder="{{#str}} conditions:patternscriptnames, local_experience {{/str}}" class="btn-block" />
        </th>
        <th valign="top" width="50%">
            <input type="text" name="patternparameters[{{id}}]" value="{{patternparameters}}"
                placeholder="{{#str}} conditions:patternparameters, local_experience {{/str}}" class="btn-block" />
        </th>
    </tr>
</table>
{{/conditions}}
<table width="100%" class="generaltable">
    <tr>
        <td><input type="submit" name="addcondition" value="{{#str}} conditions:add, local_experience {{/str}}" class="btn btn-block btn-secondary" /></td>
        <td><input type="submit" name="store" value="{{#str}} submit {{/str}}" class="btn btn-block btn-primary" /></td>
    </tr>
</table>
</form>
